.activity-header{

  background-color: #483b9d;
}
.activity-title{
  font-size: 18px;
  margin-top: 1px;
  color: white;
  font-weight: bold;
}
.activity-subhead{
  font-size: 15px;
  color: white;
  font-style: italic;
}
.activity-icon-title{
  font-size: 13px;
  margin-top: 1px;
  color: white;
  font-weight: bold;
}
.menu-start{
  background-color: white;
 }
