<div class="start1">
    <section layout="row" layout-align="center center">
        <div flex-xs="" flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-header class="activity-header">
                    <md-card-avatar>
                        <img src="img/npa/npa1.png">

                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title activity-title">Header(Bold)</span>
                        <span class="activity-subhead">under text in italics</span>
                    </md-card-header-text>
                    <md-card-avatar>


                        </md-card-avatar>
                </md-card-header>

                <md-card-content>
                    <md-list>
                        <md-list-item class="md-3-line" >
                            <div style="margin-right:13px; margin-left:-6px; padding-bottom:20px; padding-top:35px">
                                <img ng-src="img/npa/npa1.png" class="md-avatar img-thumbnail" >
                            </div>
                            <div class="md-list-item-text" style="margin-right:30px; padding-bottom:20px; padding-top:0px">
                                <br>
                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h4>text fields marked with</h4>

                                <p>divider                 <a href="#/text">…more</a></p>

                            </div>
                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line" >
                            <div style="margin-right:13px; margin-left:-6px; padding-bottom:20px; padding-top:35px">
                                <img ng-src="img/npa/npa1.png" class="md-avatar img-thumbnail" >
                            </div>
                            <div class="md-list-item-text" style="margin-right:30px; padding-bottom:20px; padding-top:0px">
                                <br>
                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h4>text fields marked with</h4>

                                <p>divider                 <a href="#/text">…more</a></p>

                            </div>
                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                        </md-list-item>
                        <md-list-item class="md-3-line" >
                            <div style="margin-right:13px; margin-left:-6px; padding-bottom:20px; padding-top:35px">
                                <img ng-src="img/npa/npa1.png" class="md-avatar img-thumbnail" >
                            </div>
                            <div class="md-list-item-text" style="margin-right:30px; padding-bottom:20px; padding-top:0px">
                                <br>
                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h3>text field, rows between}</h3>

                                <h4>text fields marked with</h4>

                                <p>divider                 <a href="#/text">…more</a></p>

                            </div>
                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>

                    <md-button type="submit" href="#/list-elements"
                               class="md-raised md-primary">
                        View list
                    </md-button>
                </md-card-content>
            </md-card>

        </div>
    </section>

</div>