<md-content class="Page-Container DemoHeader" >
    <div layout="row" >
        <div flex="100" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="center center">
                    <a href="#/">
                    <img src="img/logo-2.jpg">
                    </a>
                    <div>
                        <h3 style="margin: 2px; color: red"> <span>NPA</span></h3>
                        <h5 style="margin: 1px; font-style: italic; color: #00A4C6">Nobel Prize Award</h5>
                    </div>

                </div>
                <div layout="row" layout-align="center stretch">

                    <a hide-xs class="DemoHeader-link md-subhead" href="#/">About
                    </a>
                    <a hide-xs  class="DemoHeader-link md-subhead" href="#/login">
                        Join/Login
                    </a>
                    <a hide-xs hide-sm class="DemoHeader-link md-subhead" href="#/">
                        Search
                    </a>
                    <a hide-xs hide-sm class="DemoHeader-link md-subhead" href="#/">
                        Peoples
                    </a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/create-element">
                        Results
                    </a>

                    <a class="DemoHeader-link md-subhead" href="#/create-element">

                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>

                </a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>