<div class="start1">
    <section layout="row" layout-align="center center">
        <div flex-xs="" flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-header class="activity-header">
                    <md-card-avatar>
                        <img src="img/npa/npa1.png">

                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title activity-title">Header(Bold)</span>
                        <span class="activity-subhead">under text in italics</span>
                    </md-card-header-text>


                </md-card-header>

                <md-card-content>
                    <h3 layout-align="center center">Nobel Prize Award</h3>
                    <h3 layout-align="center center">
                        <small>From people by people</small>

                    </h3>
                    <p>Noble Prize is an award for outstanding achievements in Participatory Health.</p>

                    <p>We are  much inspired by the spirit  and impotence  of traditional Nobel Prize for contemporary science,.</p>

                    <p>In the same time we esteem uniqueness and novelty of Noble prize which is based on people’s choice – not choice of any jury.  </p>                                                                          more…

                </md-card-content>
            </md-card>

        </div>
    </section>

</div>