<app-header></app-header>
<div class="Page-Container Landing iOS-hack">
    <div layout="column" class="Landing-cover" layout-align="center center" id="cover">


        <md-button hide-xs class="Landing-getStarted" id="start_btn" onclick="movepage()"><img src="/img/start-1.jpg"></md-button>
    </div>
</div>

<!--<div class="Landing-laravelAngular">-->
    <!--<div class="Landing-ampersand" hide show-gt-sm>&amp;</div>-->
    <!--<div layout="column" layout-gt-sm="row">-->
        <!--<div flex="50" class="Landing-laravel" layout-align="center center">-->
            <!--<h2 class="md-display-2 Landing-laravelAngular-title">Nobel</h2>-->
            <!--<div class="md-title Landing-laravelAngular-subtitle">Response macros integrated with your Angular app</div>-->
            <!--<br/>-->
            <!--<div class="DemoCode">-->
                <!--<img src="/img/maincard-1.jpg" class="main-img">-->

            <!--</div>-->
        <!--</div>-->
        <!--<div flex="50" class="Landing-angular" layout-align="center center">-->
            <!--<h2 class="md-display-2 Landing-laravelAngular-title">Nobel</h2>-->
            <!--<div class="md-title Landing-laravelAngular-subtitle">Query your API without worrying about validations</div>-->
            <!--<br/>-->
            <!--<div class="DemoCode">-->
                <!--<img src="/img/maincard-1.jpg" class="main-img">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="Landing-laravelAngular">
    <div class="Landing-ampersand" hide show-gt-sm>&amp;</div>
    <div layout="column" layout-gt-sm="row">
        <div flex="50" class="Landing-laravel" layout-align="center center">
            <h2 class="md-display-2 Landing-laravelAngular-title">Laravel</h2>
            <div class="md-title Landing-laravelAngular-subtitle">Response macros integrated with your Angular app</div>
            <br/>
            <div class="DemoCode">
                <span class="DemoCode-operator">&lt;?php</span><br/>
                <br/>
                <span class="DemoCode-highlight">class</span> <span class="DemoCode-secondary">PostsController</span><br/>
                {<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;public <span class="DemoCode-secondary">function</span> <span class="DemoCode-highlight">get</span>()<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-secondary">$posts</span> = <span class="DemoCode-highlight">App</span>\<span class="DemoCode-highlight">Post</span>::<span class="DemoCode-secondary">get</span>();<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">return</span> <span class="DemoCode-secondary">response</span>()<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&gt;<span class="DemoCode-secondary">success</span>(compact(<span class="DemoCode-string">'posts'</span>));<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
                }
                <br/>
                <br/>
                <br/>
            </div>
        </div>
        <div flex="50" class="Landing-angular" layout-align="center center">
            <h2 class="md-display-2 Landing-laravelAngular-title">Angular</h2>
            <div class="md-title Landing-laravelAngular-subtitle">Query your API without worrying about validations</div>
            <br/>
            <div class="DemoCode">
                <span class="DemoCode-secondary">Class</span> <span class="DemoCode-highlight">PostsController</span> {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">constructor</span>(API){<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-string">'ngInject'</span>;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">this</span>.API = API;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">this</span>.posts = [];<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
                <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">getPosts</span>(){<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">this</span>.API.all(<span class="DemoCode-string">'posts'</span>).get(<span class="DemoCode-string">''</span>)<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.then((<span class="DemoCode-secondary">response</span>) => {<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="DemoCode-highlight">this</span>.posts = <span class="DemoCode-highlight">response.data</span>;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;});<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
                }<br/>
                <br/>
            </div>
        </div>
    </div>
</div>

<div class="Landing-features" layout-align="center center" id="landpart" >
    <h1 class="md-display-2 Landing-featuresMainTitle">Nobel Prize Award</h1>
    <div class="md-title Landing-featuresMainDescription">
        The right features to get you started
    </div>
    <br/>

   <!-- <div class="row rowagain" >
        <div class="col-md-4 col-md-push-4 main-part">
            <h3 layout-align="center center">Nobel Prize Award</h3>
            <h3 layout-align="center center">
                <small>From people by people</small>

            </h3>
            <p>Noble Prize is an award for outstanding achievements in Participatory Health.</p>

            <p>We are  much inspired by the spirit  and impotence  of traditional Nobel Prize for contemporary science,.</p>

            <p>In the same time we esteem uniqueness and novelty of Noble prize which is based on people’s choice – not choice of any jury.  </p>                                                                          more…

        </div>

        <div class="col-md-4 col-md-pull-4 main-part" >
            <h3 layout-align="center center">Nobel Prize Award</h3>
            <h3 layout-align="center center">
                <small>From people by people</small>

            </h3>
            <p>Noble Prize is an award for outstanding achievements in Participatory Health.</p>

            <p>We are  much inspired by the spirit  and impotence  of traditional Nobel Prize for contemporary science,.</p>

            <p>In the same time we esteem uniqueness and novelty of Noble prize which is based on people’s choice – not choice of any jury.  </p>                                                                          more…

        </div>

        <div class="col-md-4 main-part">
            <h3 layout-align="center center">Present your vision to the world</h3>
            <h3 layout-align="center center">
                <small>…and the world will see you</small>

            </h3>

            <p>This event  is held one week and on the same ground as traditional Nobel Prize ceremony and banquet, when all worlds attention is focused on Stockholm .
            </p>

            <p>This attracts  significant international attention and will give an excellent opportunity to present your vision to the world                                                                             more…
            </p>



        </div>

    </div>-->


    <div class="row rowagain" >

        <div class="col-md-4 col-md-push-4 main-middle rowagain">
            <div class="row rowagain main-part" >
                <h3 layout-align="center center">Nobel Prize Award</h3>
                <h3 layout-align="center center">
                    <small>From people by people</small>

                </h3>
                <p>Noble Prize is an award for outstanding achievements in Participatory Health.</p>

                <p>We are  much inspired by the spirit  and impotence  of traditional Nobel Prize for contemporary science,.</p>

                <p>In the same time we esteem uniqueness and novelty of Noble prize which is based on people’s choice – not choice of any jury.  </p>                                                                          more…

            </div>
                <div class="row rowagain" >
                    <div class="row rowagain " >
                       <!-- <div class="col-xs-12 col-sm-12 main-middle-middle1">
                            <p>This is the prize for the new Health Care and new Medical Science – and not least – new Heroes.

                                Prize for people by People
                            </p>
                        </div>

                        <div class="col-xs-12 col-sm-12 main-middle-middle1">

                            <p>This is the prize for the new Health Care and new Medical Science – and not least – new Heroes.

                                Prize for people by People
                            </p>


                        </div>

                        <div class="col-xs-12 col-sm-12 main-middle-middle1">


                            <p>Join best mind in Preventive and Participatory Health along with patients and clinicians, scientist and policymakers and all other stakeholders in the Good Health
                            </p>

                        </div>-->
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Noble Prize  Award
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Conference
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Network
                                </h4>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">People involved</h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">This is picture
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Sponsors Expo
                                </h4>
                            </div>
                        </div>

                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Good News
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Fair Chance
                                </h4>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 main-middle-middle">
                            <div class ="button-div"  layout-align="center center">
                                <a  href="#/activity">
                                    <img src="img/npa/npa1.png" class="button-width">

                                </a>
                                <h4 class="button-label" layout-align="center center">Ceremonial Banguet
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowagain" >
                    <div class="col-xs-12 main-part-2" >
                        <p>Join best mind in Preventive and Participatory Health along with patients and clinicians, scientist and policymakers and all other stakeholders in the Good Health
                        </p>
                    </div>

                </div>

        </div>

        <div class="col-md-4 col-md-pull-4 rowagain main-middle" >
            <div class="row rowagain main-part" >
                <h3 layout-align="center center">Nobel Prize Award</h3>
                <h3 layout-align="center center">
                    <small>From people by people</small>

                </h3>
                <p>Noble Prize is an award for outstanding achievements in Participatory Health.</p>

                <p>We are  much inspired by the spirit  and impotence  of traditional Nobel Prize for contemporary science,.</p>

                <p>In the same time we esteem uniqueness and novelty of Noble prize which is based on people’s choice – not choice of any jury.  </p>                                                                          more…

            </div>
            <div class="row rowagain" >
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Noble Prize  Award
                        </h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Conference
                        </h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Network
                        </h4>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">People involved</h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">This is picture
                        </h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                <div class ="button-div"  layout-align="center center">
                    <a  href="#/activity">
                        <img src="img/npa/npa1.png" class="button-width">

                    </a>
                    <h4 class="button-label" layout-align="center center">Sponsors Expo
                    </h4>
                </div>
                </div>

                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Good News
                        </h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Fair Chance
                        </h4>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa1.png" class="button-width">

                        </a>
                        <h4 class="button-label" layout-align="center center">Ceremonial Banguet
                        </h4>
                    </div>
                </div>


                </div>
            <div class="row rowagain" >
                <div class="col-xs-12 main-part-2" >

                    <p>This is the prize for the new Health Care and new Medical Science – and not least – new Heroes.

                        Prize for people by People
                    </p>


                </div>
            </div>


        </div>

        <div class="col-md-4 rowagain main-middle">
            <div class="row rowagain main-part" >
                <h3 layout-align="center center">Present your vision to the world</h3>
                <h3 layout-align="center center">
                    <small>…and the world will see you</small>

                </h3>

                <p>This event  is held one week and on the same ground as traditional Nobel Prize ceremony and banquet, when all worlds attention is focused on Stockholm .
                </p>

                <p>This attracts  significant international attention and will give an excellent opportunity to present your vision to the world                                                                             more…
                </p>
            </div>
            <div class="row rowagain main-middel-grid" >
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa2.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa3.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa4.png" class="button2-width">

                        </a>

                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa4.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa2.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa3.png" class="button2-width">

                        </a>

                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa2.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa3.png" class="button2-width">

                        </a>

                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 main-middle-middle">
                    <div class ="button-div"  layout-align="center center">
                        <a  href="#/activity">
                            <img src="img/npa/npa4.png" class="button2-width">

                        </a>

                    </div>
                </div>
            </div>
            <div class="row rowagain" >
                <div class="col-xs-12 main-part-2">


                    <p>Join best mind in Preventive and Participatory Health along with patients and clinicians, scientist and policymakers and all other stakeholders in the Good Health
                    </p>

                </div>
            </div>
        </div>

    </div>


</div>


    <div class="row rowagain" style="margin:20px; margin-top: 0;">
        <div class="col-md-4 col-md-push-4 main-footer">
            <ul>
                <li>
                    <a href="#/activity">Noble Prize award</a>
                </li>
                <li>
                    <a href="#/activity">Conference</a>
                </li>
                <li>
                    <a href="#/activity">Network</a>
                </li>
                <li>
                    <a href="#/activity">People</a>
                </li>
                <li>
                    <a href="#/activity">Sponsors</a>
                </li>
                <li>
                    <a href="#/activity">Expo</a>
                </li>
                <li>
                    <a href="#/activity">Good News</a>
                </li>
                <li>
                    <a href="#/activity">Fair Chance</a>
                </li>
                <li>
                    <a href="#/activity">Ceremonial Banquet</a>
                </li>
            </ul>

        </div>

        <div class="col-md-4 col-md-pull-4 main-footer">
            <ul>
                <li>
                    <a href="#/activity">NPA Nomination</a>
                </li>
                <li>
                    <a href="#/activity">NPA Voting</a>
                </li>
                <li>
                    <a href="#/activity">Conference program</a>
                </li>
                <li>
                    <a href="#/activity">Register</a>
                </li>
                <li>
                    <a href="#/activity">Paper admission</a>
                </li>
            </ul>
        </div>
         <div class="col-md-4 main-footer">
            <ul>
                <li>
                    <a href="#/activity">Blue Hall</a>
                </li>
                <li>
                    <a href="#/activity">Ceremonial dinner</a>
                </li>
                <li>
                    <a href="#/activity">Happy Nation performance</a>
                </li>
                <li>
                    <a href="#/activity">Wikimara (WKM)</a>
                </li>
                <li>
                    <a href="#/activity">WKM voting</a>
                </li>
                <li>
                    <a href="#/activity">WKM award</a>
                </li>
            </ul>
        </div>

    </div>


</div>

